{% extends "base.html" %}

{% block title %}List - Events{% endblock %}

{% block content %}
<div class="py-4">
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">List - Events</h1>
    </div>
  </div>
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item">
        <a href="/">
          <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li class="breadcrumb-item"><a href="#">Events</a></li>
      <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </nav>
</div>


{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
