{% extends "base.html" %}

{% block title %}List - Events{% endblock %}

{% block content %}
<div class="card border-0 shadow">
  <div class="card-header">
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0">
        <h1 class="h4">List - Events</h1>
      </div>
    </div>
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="/">
            <i class="fa-solid fa-house"></i>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="#">Events</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
      </ol>
    </nav>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-centered table-nowrap mb-0 rounded table-hover">
        <thead class="thead-light">
        <tr>
          <th class="border-0 rounded-start">Nom</th>
          <th class="border-0">Début</th>
          <th class="border-0">Fin</th>
          <th class="border-0">Nombre d'inscrit·e·s</th>
          <th class="border-0">Nombre d'activités</th>
          <th class="border-0 rounded-end"></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
        <!-- Item -->
        <tr>
          <td class="border-0 fw-bold">{{event.name}}</td>
          <td class="border-0">{{event.start_date}} {{event.start_time}}</td>
          <td class="border-0">{{event.end_date}} {{event.end_time}}</td>
          <td class="border-0">{{event.partaker_set.count}}</td>
          <td class="border-0">{{event.activity_set.count}}</td>
          <td class="border-0">
            <a href="{% url 'event_edit' pk=event.pk %}" class="btn btn-sm btn-primary" type="button"><i
              class="fa-solid fa-pen-to-square"></i></a>
            <a href="{% url 'event_delete' pk=event.pk %}" class="btn btn-sm btn-danger" type="button"><i
              class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
        <!-- End of Item -->
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
