{% load static %}
<!-- FA Icons -->
<link type="text/css" href="{% static 'vendor/font-awesome/css/fontawesome.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'vendor/font-awesome/css/brands.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'vendor/font-awesome/css/solid.css' %}" rel="stylesheet">

<!-- Sweet Alert -->
<link type="text/css" href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'css/volt.css' %}" rel="stylesheet">
