{% load static %}
<meta name="title" content="NiceLAN - LAN manager and dedicated APIs">
<meta name="author" content="Game* (Game Star)">
<meta name="description" content="LAN manager and dedicated APIs">
<meta name="keywords" content="" />
<link rel="canonical" href="https://github.com/CLICGameStarProjects/NiceLAN">

<!-- Open Graph / Facebook -->
<!-- Eh, todo -->

<!-- Twitter -->
<!-- Eh, todo -->

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">