{% load static %}
<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <a class="navbar-brand me-lg-5" href="/">
    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Volt logo"/> <img
    class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Volt logo"/>
  </a>
  <div class="d-flex align-items-center">
    <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <ul class="nav flex-column pt-3 pt-md-0">
      <!-- Index -->
      <li class="nav-item">
        <a href="/" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon">
            <img src="{% static 'img/favicon/favicon-white.png' %}" height="20" width="20" alt="Volt Logo">
          </span>
          <span class="mt-1 ms-1 sidebar-text">NiceLAN</span>
        </a>
      </li>

      <!-- Dashboard -->
      <li class="nav-item {% if 'd/' in request.path %} active {% endif %}">
        <a href="{% url 'dashboard' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fa-solid fa-gauge icon icon-xs me-2"></i>
          </span>
          <span class="sidebar-text">Dashboard</span>
        </a>
      </li>

      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>

      <!-- Event -->
      <span>
        <span class="sidebar-icon">
          <i class="fa-sharp fa-solid fa-location-dot  icon icon-xs me-2"></i>
        </span>
        <span class="sidebar-text">Events</span>
      </span>

      <!-- New -->
      <li class="nav-item {% if 'e/new' in request.path %} active {% endif %}">
        <a class="nav-link" href="{% url 'event_new' %}">
          <span>
            <span class="sidebar-icon">
              <i class="fa-solid fa-plus  icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">New Event</span>
          </span>
        </a>
      </li>

      <!-- List -->
      <li class="nav-item {% if 'e/list' in request.path %} active {% endif %}">
        <a class="nav-link" href="{% url 'event_list' %}">
          <span>
            <span class="sidebar-icon">
              <i class="fa-solid fa-list  icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">All Events</span>
          </span>
        </a>
      </li>

      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>

      <!-- Partaker -->
      <span>
        <span class="sidebar-icon">
          <i class="fas fa-users  icon icon-xs me-2"></i>
        </span>
        <span class="sidebar-text">Partakers</span>
      </span>

      <!-- Player -->
      <li class="nav-item {% if 'p/player/' in request.path %} active {% endif %}">
        <span
          class="nav-link  collapsed  d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#submenu-player">
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-user  icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Players</span>
          </span>
          <span class="link-arrow">
            <i class="fa-solid fa-caret-right  icon icon-xs me-2"></i>
          </span>
        </span>
        <div class="multi-level collapse {% if 'p/player/' in request.path %} show {% endif %}"
             role="list" id="submenu-player" aria-expanded="false">
          <ul class="flex-column nav">
            <!-- New -->
            <li class="nav-item {% if 'p/player/new' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-plus  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">New Player</span>
                </span>
              </a>
            </li>
            <!-- List -->
            <li class="nav-item {% if 'p/player/list' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-list  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">All Players</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Team -->
      <li class="nav-item {% if 'p/team/' in request.path %} active {% endif %}">
        <span
          class="nav-link  collapsed  d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#submenu-team">
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-user-friends  icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Teams</span>
          </span>
          <span class="link-arrow">
            <i class="fa-solid fa-caret-right  icon icon-xs me-2"></i>
          </span>
        </span>
        <div class="multi-level collapse {% if 'p/team/' in request.path %} show {% endif %}"
             role="list" id="submenu-team" aria-expanded="false">
          <ul class="flex-column nav">
            <!-- New -->
            <li class="nav-item {% if 'p/team/new' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-plus  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">New Team</span>
                </span>
              </a>
            </li>
            <!-- List -->
            <li class="nav-item {% if 'p/team/list' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-list  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">All Teams</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>

      <!-- Activity -->
      <span>
        <span class="sidebar-icon">
          <i class="fas fa-calendar-alt  icon icon-xs me-2"></i>
        </span>
        <span class="sidebar-text">Activities</span>
      </span>

      <!-- Tournament -->
      <li class="nav-item {% if 'a/tournament/' in request.path %} active {% endif %}">
        <span
          class="nav-link  collapsed  d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#submenu-tournament">
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-trophy  icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Tournaments</span>
          </span>
          <span class="link-arrow">
            <i class="fa-solid fa-caret-right  icon icon-xs me-2"></i>
          </span>
        </span>
        <div class="multi-level collapse {% if 'a/tournament/' in request.path %} show {% endif %}"
             role="list" id="submenu-tournament" aria-expanded="false">
          <ul class="flex-column nav">
            <!-- New -->
            <li class="nav-item {% if 'a/tournament/new' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-plus  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">New Tournament</span>
                </span>
              </a>
            </li>
            <!-- List -->
            <li class="nav-item {% if 'a/tournament/list' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-list  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">All Tournaments</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Animations -->
      <li class="nav-item {% if 'a/animation/' in request.path %} active {% endif %}">
        <span
          class="nav-link  collapsed  d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#submenu-animation">
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-dice  icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Animations</span>
          </span>
          <span class="link-arrow">
            <i class="fa-solid fa-caret-right  icon icon-xs me-2"></i>
          </span>
        </span>
        <div class="multi-level collapse {% if 'a/animation/' in request.path %} show {% endif %}"
             role="list" id="submenu-animation" aria-expanded="false">
          <ul class="flex-column nav">
            <!-- New -->
            <li class="nav-item {% if 'a/animation/new' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-plus  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">New Animation</span>
                </span>
              </a>
            </li>
            <!-- List -->
            <li class="nav-item {% if 'a/animation/list' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-list  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">All Animations</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Other -->
      <li class="nav-item {% if 'a/other/' in request.path %} active {% endif %}">
        <span
          class="nav-link  collapsed  d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#submenu-other">
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-microphone  icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Others</span>
          </span>
          <span class="link-arrow">
            <i class="fa-solid fa-caret-right  icon icon-xs me-2"></i>
          </span>
        </span>
        <div class="multi-level collapse {% if 'a/other/' in request.path %} show {% endif %}"
             role="list" id="submenu-other" aria-expanded="false">
          <ul class="flex-column nav">
            <!-- New -->
            <li class="nav-item {% if 'a/other/new' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-plus  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">New Other</span>
                </span>
              </a>
            </li>
            <!-- List -->
            <li class="nav-item {% if 'a/other/list' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <span>
                  <span class="sidebar-icon">
                    <i class="fa-solid fa-list  icon icon-xs me-2"></i>
                  </span>
                  <span class="sidebar-text">All Others</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>

      <li class="nav-item {% if 'logout' in segment %} active {% endif %}">
        <a href="{% url 'logout' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fa-solid fa-right-from-bracket icon icon-xs me-2"></i>
          </span>
          <span class="sidebar-text">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
